# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
*.log
*.pot
*.pyc
*.mo
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3

# Environments
.env
venv/
ENV/
env.bak/
venv.bak/

# Celery
celerybeat-schedule
celerybeat-schedule.bak
celerybeat.pid

# VS Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db